<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskFlow</title>
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?
family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="toast-container" id="toast-container"></div>

    <div class="modal-overlay hidden" id="task-modal">
      <div class="modal">
        <div class="modal-header">
          <h2>Новая задача</h2>
          <button class="modal-close" id="close-modal">&times;</button>
        </div>

        <form id="task-form">
          <div class="form-group">
            <label>Название</label>
            <input
              type="text"
              name="title"
              placeholder="Введите название задачи"
              required
            />
          </div>

          <div class="form-group">
            <label>Описание</label>
            <textarea
              name="description"
              placeholder="Введите описание"
              required
            ></textarea>
          </div>

          <div class="form-group">
            <label>Дата</label>
            <input type="datetime-local" name="date" required />
          </div>

          <div class="form-group">
            <label>Приоритет</label>
            <select name="priority">
              <option value="p0">0 — Нет приоритета</option>
              <option value="p1">1 — Очень низкий</option>
              <option value="p2">2 — Низкий</option>
              <option value="p3">3 — Средний</option>
              <option value="p4">4 — Высокий</option>
              <option value="p5">5 — Критический</option>
            </select>
          </div>

          <button type="submit" class="save-task-btn">Создать задачу</button>
        </form>
      </div>
    </div>

    <div class="app-layout">
      <aside class="sidebar">
        <div>
          <div class="logo">TaskFlow</div>
          <nav class="menu">
            <a href="#" class="active">Входящие</a>
            <a href="#">Сегодня</a>
            <a href="#">Предстоящие</a>
          </nav>
        </div>
        <div class="profile-card">
          <div class="avatar">
            <img src="/static/images/default-avatar-icon.png" alt="avatar" />
          </div>
        </div>
      </aside>
      <main class="main-content">
        <header class="topbar">
          <div>
            <h1>Входящие</h1>
            <p>Фокус на том, что важно сегодня</p>
          </div>
        </header>
        <div class="primary-btn-container">
          <button class="primary-btn">+ Добавить задачу</button>
        </div>

        <section class="task-list"></section>
      </main>
    </div>

    <script src="../static/js/main.js" defer type="module"></script>
  </body>
</html>
