<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskFlow</title>
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?
family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="app-layout">
      <aside class="sidebar">
        <div>
          <div class="logo">TaskFlow</div>
          <nav class="menu">
            <a href="#" class="active">Входящие</a>
            <a href="#">Сегодня</a>
            <a href="#">Предстоящие</a>
          </nav>
        </div>
        <div class="profile-card">
          <div class="avatar"></div>
        </div>
      </aside>
      <main class="main-content">
        <header class="topbar">
          <div>
            <h1>Входящие</h1>
            <p>Фокус на том, что важно сегодня</p>
          </div>
        </header>
        <div class="primary-btn-container">
          <button class="primary-btn">+ Добавить задачу</button>
        </div>

        <section class="task-list"> </section>
      </main>
    </div>
  </body>
</html>

